.background-canard {
    background-color: #048b9a !important;
}
.background-darkCanard {
    background-color: #036873 !important;
}
.background-lightCanard {
    background-color: #008e9e !important;
}
.background-canardDesature {
    background-color: #167b87 !important;
}
.background-darkCyan {
    background-color: #008b8b !important;
}
.background-canardTeal {
    background-color: #008080 !important;
}
.font-color-canard {
    color : #048b9a !important;
}